@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600;700&display=swap");

.App {
  font-family: "Muli", Helvetica, sans-serif;
  min-height: 100vh;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  padding: 0 25px;
  border: 1px solid #ddd;
}
